html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 8px;
  background-color: #393939;
}
.app {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
.app .app-body {
  padding-top: 60px;
}
.app .hide {
  display: none;
}
.header {
  height: 60px;
  z-index: 10000;
  width: 100%;
  margin: -8px;
  background: #373F52;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#373F52, #202A36);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#373F52, #202A36);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#373F52, #202A36);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#373F52, #202A36);
  position: fixed;
  border-bottom: 1px solid #CCC;
}
.header .hamburger {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  left: 3%;
}
.header .header-title {
  text-align: center;
  color: #fff;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  font-size: larger;
}
.header .side-nav-header {
  background: #373F52;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#373F52, #202A36);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#373F52, #202A36);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#373F52, #202A36);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#373F52, #202A36);
  border-bottom: 1px solid #CCC;
  color: #fff;
  height: calc(120px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.image-templates {
  list-style-type: none;
  padding: 0;
}
.image-templates .img-template {
  height: 150px;
  width: 250px;
  text-align: center;
  box-shadow: 1px 1px 10px #aaa;
  padding: 1px;
  margin-bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
.image-templates .deadpull {
  height: 150px;
  width: 250px;
  text-align: center;
  box-shadow: 1px 1px 10px #aaa;
  padding: 1px;
  margin-bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  border: 3px solid #812635;
}
.image-templates .spider-man {
  height: 150px;
  width: 250px;
  text-align: center;
  box-shadow: 1px 1px 10px #aaa;
  padding: 1px;
  margin-bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  border: 3px solid #5A160D;
}
.image-templates .iron-man {
  height: 150px;
  width: 250px;
  text-align: center;
  box-shadow: 1px 1px 10px #aaa;
  padding: 1px;
  margin-bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  border: 3px solid #3E565A;
}
