@import (reference)'app/styles/_variables.less';
@import (reference)'app/styles/mixing.less';

html{
  height: 100%;
}
body{
  min-height: 100%;
  margin: @bodyMargin;
  background-color: @appColor;
}

.app {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;

    .app-body {
        padding-top: @headerHeight;
    }

    .hide {
        display: none;
    }
}

.header {
    height: @headerHeight;
    z-index: 10000;
    width: 100%;
    margin: -8px;
    .vertical-gradient(@headerColor, @endHeaderColor);
    position: fixed;
    border-bottom: 1px solid #CCC;

    .hamburger {
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        left: 3%;
    }

    .header-title { 
        text-align: center;
        color: @fontColor;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
        font-size: larger;
    }

    .side-nav-header {
        .vertical-gradient(@headerColor, @endHeaderColor);
        border-bottom: 1px solid #CCC;
        color: @fontColor;
        height: calc(@headerHeight * 2);
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
}

.image-templates {
    list-style-type: none;
    padding: 0;

    .img-template {
        height: 150px;
        width: 250px;
        text-align: center;
        box-shadow: 1px 1px 10px #aaa;
        padding: 1px;
        margin-bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }

    .deadpull {
        .img-template;
        border: 3px solid #812635;
    }

    .spider-man {
        .img-template;
        border: 3px solid #5A160D;
    }

    .iron-man {
        .img-template;
        border: 3px solid #3E565A;
    }
}